a {
    text-decoration: none;
    color: inherit;
    outline: 0;
}

#anchors {
    display: flex;
    justify-content: space-evenly;
}

.padding {
    padding: 100px;
}

.next {
    margin: 5px;
    width: 300px;
}

.truefalse {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 40%;
}

.space {
    padding-top: 50px;
}

.centered {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dropdown {
    padding: 30px;
    min-width: 200px;
    max-width: 300px;
}

.sized {
    min-width: 300px;
    max-width: 400px;
}
